@charset "UTF-8";

/*
    Paleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*que a borda faça parte da conta de width*/
}

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #5f2c82;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute; /*para atender as propriedades de posição. Lembrando que a referência de posição é o canto superior esquerdo*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*propriedades tradicionais para centralizar um box*/
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
}

div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) left bottom / cover no-repeat; /*background = shorthand para: 
    background-color: #5f2c82;
    background-image: url(../imagens/metal.jpg);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat; */
    width: 250px;
    height: 200px;
}

div#formulario {
    display: block;
    padding: 15px;
}

div#formulario > h1 {
    text-align: center;
}

div#formulario > p {
    padding: 10px 0px;
    font-size: 0.8em;
}

.button {
    padding: 2px;
}